<form #animalForm="ngForm">
    <h2>Animal Details</h2>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="animal.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Species</mat-label>
            <mat-select name="species" [(ngModel)]="animal.species">
                <mat-option value="Dog">Dog</mat-option>
                <mat-option value="Cat">Cat</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput name="description" [(ngModel)]="animal.description"></textarea>
        </mat-form-field>
    </form>